.flex.align-items-center.justify-content-center.bg-blue-100.border-round {
    width:2.5rem;
    height:2.5rem
}
.container {
    margin-top: 20px;
}

h2 {
    color: #333;
}
/* ----------------------------------------------------- */

.card {
    background-color: #fcfcfc;
    padding: 25px;
    border: 1px solid #c7c7cc;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 10px;
    background-clip: padding-box;
    box-shadow: 0 0 3px 1px;
    margin-bottom: 20px;
    zoom: 1;
}

/* ---------------------------------------------------------- */
.surface-card.shadow-2.p-3.border-round {
    cursor: pointer;
    box-shadow: 0 0 3px 1px #c8c8cc !important;
    border: 1px solid #c7c7cc;
    /* border-radius: 3px; */
    background-clip: padding-box;
    transform: rotate(10deg);
}

.surface-card.shadow-2.p-3.border-round:hover {
    transform: scale(1.1, 1.1) rotate(10deg);
}

.surface-card.shadow-2.p-3.border-round.orange{
    background: linear-gradient(90deg, #ffb340 0%, #ffa740 100%) !important;
}

.surface-card.shadow-2.p-3.border-round.gray{
    background: #606162 !important;
}

.surface-card.shadow-2.p-3.border-round.grey{
    background: #919293 !important;
}

.surface-card.shadow-2.p-3.border-round.gren{
    background: #14b8a6 !important;
}

.col-12.md\:col-6.lg\:col-3:hover {
    box-shadow: 0 0 3px 1px #c8c8cc !important;
    border: 3px solid #c7c7cc;
    /* border-radius: 3px; */
    background-clip: padding-box;
    /* transform: rotate(-5deg); */
}

span.block.text-500.font-medium.mb-3 {
    color: #fff !important;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 0 #fcfcfc;
}

.text-900.font-medium.text-xl {
    color: #000 !important;
    font-size: 2.5rem !important;
    font-weight: 700 !important;
    text-shadow: 1px 1px 0 #fcfcfc;  
}
